.update{
    .article::before {
        background-image: url('../assets/icons/archivo-de-edicion.svg'); /* Ruta de la imagen */
        width: 100px; /* Ancho de la imagen */
        height: 100px; /* Alto de la imagen */
    }
    
    .busqueda__resultados .article:hover{
        background-color: rgb(164, 164, 164);
        border-color: rgb(96, 70, 156);
    }
}