.article {
    border: 4px solid #000;
    border-radius: 10px;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 10px 10px 0 #000;
    font-family: "Arial", sans-serif;
    position: relative;

    &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #000;
        padding-bottom: 1rem;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        max-width: 100%;
    }

    &__icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        padding: 0.5rem;
    }

    &__title {
        font-weight: 900;
        color: #000;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: left;
    }

    &__body {
        margin-top: 1em;
        color: #000;
        font-size: 0.9rem;
        line-height: 1.4;
        padding-bottom: 2rem;
        word-break: break-word;
    }

    &:not(.form) {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150px;
            height: 150px;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: opacity 0.3s ease;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}