.content {
    &__title {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 1rem;
        color: var(--fondo);
        background-color: var(--accent);
        border-radius: 10px;
        padding: 0rem 3rem;
        text-align: center;
    }

    

    &__body {
        &--table {
            margin-top: 2rem;
            width: 80%;
            border-collapse: collapse;
        }

        &--30W {
            min-width: 30%;
        }

        &--row {
            display: flex;
            gap: 1rem;
        }
    }
}

.menu {
    position: sticky;
    top: 0;
    max-height: 100vh;
    font-size: 1.875rem;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .menu__item {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        padding: 0.8rem;
        background-color: var(--fondo);
        width: fit-content;
        line-height: 0.8rem;
        cursor: pointer;

        &:hover {
            background-color: var(--accent);
            color: var(--fondo);
            border-radius: 12px;

            i {
                color: var(--fondo);
            }
        }
    }

    .button--logout{
        all: unset;
    }

    .link--active{
        background-color: var(--accent);
        color: var(--fondo); 
        border-radius: 12px;

        i {
            color: var(--fondo);
        }
    }
    .fi--active {
        background-color: var(--accent);
    }
}

.busqueda__resultados{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Por defecto, 1 columna */
    gap: 1rem;
    align-items: stretch;
    width: 80%;

    &:has(> :nth-child(2)) {
        grid-template-columns: repeat(2, 1fr);
        /* Si tiene más de 1 hijo, 2 columnas */
        width: 100%;
    }
}

.desactivado{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

[id$="PreviewContainer"] {
    max-width: 500px;
    max-height: 200px;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}